doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='/stylesheets/adminCoffee.css' rel='stylesheet')

title 관리자 커피
img.imgLogo(src='img/logo.png')
ul
    li
        a(href='/home') Home
    li
        a#current(href='/adminCoffee') Coffee
    li
        a(href='/adminSmoothie') Smoothie
    li
        a(href='/adminAde') Ade
    li
        a(href='/adminTea') Tea
    li
        a(href='/adminJuice') Juice
    li
        a(href='/adminBubble') Bubble
    li
        a(href='/adminSideMenu') SideMenu
hr
.container
    main
        .menu-container
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')

    aside
        div
            button.addBtn
            a#addMenu(href='#') 메뉴 추가
