.login{
    width:1040px;
    height: 624px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px 0px rgb(185, 182, 182);
}

.left{
    margin-left: 120px;
    margin-top: 200px;
    position: absolute;
    width: 50%;
    height: 100%;
}

.right{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0%;
    background-color: #fff;

}

.idbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
}

.llogo{
    background-color: #fff;
    padding: 40px;
}

.id1 {
    margin-left: 60px;
    width:280px;
    height: 30px;
    padding: 10px;
    margin-top: 190px;
    background: none;
    color: #2F6C24;
    border:none;
    border-bottom:2px solid brown;
}

.id{
    margin-left: 60px;
    width:280px;
    height: 30px;
    padding: 10px;
    margin-top:20px;
    background: none;
    border:none;
    border-bottom:2px solid brown;
}

.id:focus{
    outline: none;
}


.lbtn{
    margin-top: 20px;
    margin-left: 60px;
    width:300px;
    height: 50px;
    /* margin:20px; */
    border:none;
    background-color: #dcbead;
}

#logingo{
    text-decoration: none;
    background:none;
    font-size: 18px;
    color: #fff;
}