doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/stylesheets/coffee.css' rel='stylesheet')

title 사이드
img.imgLogo(src='img/logo.png')
ul
    li
        a(href='/home') Home
    li
        a(href='/coffee') Coffee
    li
        a(href='/smoothie') Smoothie
    li
        a(href='/ade') Ade
    li
        a(href='/tea') Tea
    li
        a(href='/juice') Juice
    li
        a(href='/bubble') Bubble
    li
        a#current(href='/sideMenu') SideMenu
hr
.container
    main
        .menu-container
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
            .coffeeBox
                img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
                
    aside 장바구니
