doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='../public/stylesheets/coffee.css' rel='stylesheet')
  title 커피
img.imgLogo(src='../logo.png')
ul
  li
    a(href='home.html') Home
  li
    a#current(href='coffee.html') Coffee
  li
    a(href='smoothie.html') Smoothie
  li
    a(href='ade.html') Ade
  li
    a(href='tea.html') Tea
  li
    a(href='juice.html') Juice
  li
    a(href='bubble.html') Bubble
  li
    a(href='sideMenu.html') SideMenu
hr
.container
  main
    .menu-container
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
      .coffeeBox
        img(src='http://www.cafebombom.co.kr/data/file/menu/thumb-53_copy_155_2041981148_PEpzJWTD_64fce0e2fea3d263353a7203965bd9220679a143_320x320.jpg')
  aside 장바구니
